@model TalycapGlobalNetCore5App.Models.Guia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Guia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumGuia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumGuia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pruducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pruducto.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.almacen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.almacen.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehiculo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.operador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.operador.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoEnvio.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
